@model IEnumerable<lucas_tickets.Models.Shows>

@{
    ViewData["Title"] = "Index";
}



<p>
    <a asp-controller="shows" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Createdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @if (!String.IsNullOrEmpty(item.Filename))
                    {
                        <img src="/shows/@item.Filename" alt="@item.Title" class="thumbnail" />
                    }

                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Createdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Category.Title)
            </td>
            <td>
                    <a asp-controller="shows" asp-action="Edit" asp-route-id="@item.ShowId">Edit</a> |
                    <a  asp-action="Details" asp-route-id="@item.ShowId">Details</a> |
                    <a asp-controller="shows" asp-action="Delete" asp-route-id="@item.ShowId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
